////
/// @author RoachMech
////

/// Base gutter size for the grid. This size will be used if no other is specified when including the mixin.
$flexgrid-gutter-base: 2rem !default;

/// Make the container for the grid
///
/// @example scss - Basic Usage Sass
///    .gallery {
///        @include flexgrid();
///    }
///
/// @example scss - Basic Usage CSS Output
///    .gallery {
///        display: flex;
///        flex-flow: row wrap;
///        margin: 0 -1rem;
///    }
@mixin flexgrid-container($gutter: $flexgrid-gutter-base) {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -($gutter/2);
}

/// Make an item for the grid
///
/// @example scss - Basic Usage Sass
///    .gallery__item {
///        @include flexgrid-item(4);
///    }
///
/// @example scss - Basic Usage CSS Output
///    .gallery__item {
///        flex: 1 1 25%;
///        max-width: 25%;
///        padding: 0 1rem 2rem;
///    }
@mixin flexgrid-item($items-per-row, $gutter: $flexgrid-gutter-base) {
  flex: 1 1 (100%/$items-per-row);
  max-width: (100%/$items-per-row);
  padding: 0 $gutter/2 $gutter;
}